.img-responsive {
	display:block;
	width:100% \9;
	max-width:100%;
	height:auto;
}

.img-rounded {
	border-radius:6px;
}


.img-circle {
	border-radius:50%;
}

.img-center{
	display: block;
	margin: auto;
}
