.u-shadow{
  box-shadow: 0px 0px 14px rgba(0,0,0,0.44);
}

.u-shadowS {
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15)
}

.u-shadowM{
  box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
}

