.banner-full-screen{

  position: relative;
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size :cover;
  //height: 100vh;
  width: 100%;


  .logo{
    margin-top: 30vh;
  }

  h1{
    text-align: center;
    text-transform: uppercase;
    color: #FFF;
  }
}
