.banner-promo{

  position: relative;
  // background-image:url("http://lorempicsum.com/futurama/1900/1000/4");
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size :cover;
  height: 400px;
  width: 100%;



  .txtXL{
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    margin-top: 200px;
  }


} // banner-promo
