/**
*
* Modifier sticky
*
*/
 

.menu--sticky{
  position: fixed;
  top:0;
  right: 0;
  left: 0;
  z-index: 1;
  background-color: #FFF;
}

.entry-content{
  margin-top: 70px;
}


@media only screen and (max-width: 768px){



  .responsive-icon{
    position: fixed;
    z-index: 4;
  }

  .menu-logo{
    position: fixed;
  }


  // body{
  //   padding-top: 50px;
  // }

  .slide-menu{
    position: fixed;
    width: 100%;
    z-index: 3;

    nav{
      position: fixed;
    }

  }

  .responsive-menu-show{
    display: block;
  }



} // 768
