

.button--big{
    max-width: 40%;
}

@media only screen and (max-width: 768px){
    
  .button--big{
    max-width: 100%;
    height: 58px;
    line-height: 58px;
    padding: 0px;
    font-size: 1em;
  }

}

