.u-txtcatchline{
    font-size: em(23, $em-base);
    color: #FFF;
}

@media only screen and (max-width: 768px){

    h2{
        font-size: 1.7em;
    }

    
    .u-txtcatchline{
        font-size: em(14, $em-base);
        color: #FFF;
    }	

}
